<i class="fa fa-rabbit"></i>
<div class="row">
  <div class="card" style="width: 18rem;">
    <div class="text-center mt-3">
      <h1><i [class]="products[0].icon"></i></h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Price</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>
<hr />
<h4>Tu Carrito</h4>
<div class="row">
  <div class="col-4 offset-4">
    Total: $ 0.00 <br />
    Total Art&iacute;culos: 5
  </div>
</div>
